<div class="container" style="margin-top: 25px;">
    <h4>Edit List</h4>
</div>
<div class="container">
    <form action='/lists/<%=@list.id %>' method="post">
    <input type='hidden' id='hidden' name='_method' value='patch'>
        <div>
            <label for="name">List Name</label>
            <input id='name' type='text' name='name' value='<%=@list.name%>'>
        </div>
        <div>
            <label for='recipient'>Recipient</label>
            <select name='recipient' id='recipient'>
                <% @recipients.each do |recipient| %>
                    <option value='<%= recipient.name %>' <%= 'selected' if @list.recipient == recipient %>><%= recipient.name %></option>
                <% end %>
            </select>
        </div>
        <div>
            <label for="event_date">Event Date</label>
            <input name='event_date' type='date' id='event_date' value='<%=@list.event_date%>'>
        </div><br>
        <div>
            <input class="btn btn-secondary" type="submit" value="Submit Changes">
        </div>
    </form>
</div>