Name: <%= @list.name %><br>
Recipient: <%= @list.recipient.name %><br>
Date: <%= @list.event_date %><br><br>

<form action="/lists/<%=@list.id%>/edit">
    <input type="submit" value=" Edit List " />
</form>

<form onsubmit="return confirm('Are you sure you want to delete <%= @list.name %>? This can not be undone.')" method="post" action="/lists/<%=@list.id%>/delete">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input id="submit" type="submit" value=" Delete List ">
</form>