<div class="container" style="margin-top: 25px;">
    <h4><%= @gift.name.capitalize %></h4>
</div><br>
<div class="container">
    Recipient: <%= @gift.recipient.name %><br>
    Price: $<%= @gift.price %><br>
    Description: <%= @gift.description %><br>
    Note: <%= @gift.note %><br>
    <a href="<%= @gift.url %>">Visit Website</a>
    </div><br>
<div class="container">
    <form action="/gifts/<%=@gift.id%>/edit">
        <input class="btn btn-secondary" type="submit" value="Edit Gift" style="margin-top: 5px;"/>
    </form>
    <form onsubmit="return confirm('Are you sure you want to delete <%= @gift.name %>? This can not be undone.')" method="post" action="/gifts/<%=@gift.id%>/delete">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input class="btn btn-secondary" id="submit" type="submit" value="Delete Gift" style="margin-top: 5px;">
    </form>
</div>
